body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.footer {
  background-color: #d7d7d7;
  color: #110505;
  text-align: center;
  padding: 10px;
}

header {
  flex: 0 0 10%;
}

.main {
  flex: 1;
  padding: 20px;
}

footer {
  flex: 0 0 5%;
}

